:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body, html {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font-family: inherit;
}





/* Mobile */
@media only screen and (min-width: 0em) {
    #card {

        display: flex;
        flex-direction: column;
        height: 100vh;
        max-width: 27.5rem;

        .hidden {
            display: none;
        }

        .rating {
            
            width: 90%;
            height: 24rem;
            justify-content: center;
            padding: 1.4rem;
            margin: auto;
            border-radius: 1rem;
            background-image: linear-gradient(
                15deg, 
                hsl(216, 12%, 8%) -50%,
                hsl(213, 25%, 18%) 100%
            );

            .icon-image {
                display: inline-block;
                padding: .825rem;
                border-radius: 50%;
                background-color: hsl(216, 12%, 21%);

                img {
                    width: 1rem;
                }
            }

            h1 {
                color: hsl(0, 0%, 90%);
                
                margin: 1.15rem 0 .75rem;
            }

            p {
                color: var(--medium-grey);
                font-weight: 400;
                line-height: 1.5;
                margin-bottom: 1.7rem;
            }

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.7rem;
                

                li {
                    list-style: none;
                    text-align: center;
                    
                    button {
                        border-radius: 50%;
                        width: 3rem;
                        height: 3rem;
                        background-color: var(--dark-blue);
                        border: none;
                        color: var(--medium-grey);
                        transition: .3s;
                    
                        &:hover {
                            background-color: var(--orange);
                            color: #f1f1f1;
                            cursor: pointer;
                        }

                        .rating-selected {
                            background-color: var(--medium-grey);
                            color: #f1f1f1;
                        }
                    }               
                }
                
            }

            .btn-submit {
                width: 100%;
                font-size: 1rem;
                border-radius: 1.875rem;
                border: none;
                background-color: var(--orange);
                color: hsl(0, 0%, 90%);
                letter-spacing: .1rem;
                height: 2.825rem;
                text-transform: uppercase;
                font-weight: 400;
                cursor: pointer;
                transition: 0.3s;

                &:hover { 
                    background-color: #f1f1f1;
                    color:var(--orange);
                }
            }
        }

        .thanks {
            
            width: 90%;
            height: 24rem;
            justify-content: center;
            padding: 1.4rem;
            margin: auto;
            border-radius: 1rem;
            background-image: linear-gradient(
                15deg, 
                hsl(216, 12%, 8%) -50%,
                hsl(213, 25%, 18%) 100%
            );

            .thanks-img {
                text-align: center;
                display: block;
                
                img {
                    width: 9rem;
                    margin: auto;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }

            .rating-answer {
                background-color: var(--dark-blue);
                color: hsla(25, 97%, 53%, 0.728);
                display: flex;
                justify-content: center;
                align-items:center;
                font-weight: 400;
                width: 12rem;
                height: 2rem;
                margin: 1.5rem auto;
                text-align: center;
                font-size: inherit;
                line-height: 2rem;
                border-radius: 5rem;
                padding-top: .25rem;

                
            }

            .context h2 {
                color: #f1f1f1;
                text-align: center;
                margin: 1.75rem auto .825rem auto;
            }

            .context p {
                color: var(--medium-grey);
                text-align: center;
            }
    
                  
            
    
        }
        
    }

    
       
}



